<%- include("partials/header.ejs") %>

<form action="/new-post" method="GET">
    <input type="submit" value="Make a new post">
</form>

<%var index = 0;%>
<% if (locals.allPosts && locals.allPosts.length > 0) { %>
    <h2>Recent Posts</h2>
    <%locals.allPosts.forEach((post, i) => { %>
        <div>
            <h3>
                <%= post.title %> 
            </h3>
            <p>
                <%= post.content %>
            </p>
            <a href="/delete?postid=<%= i%>">Delete</a> 
        </div>
        
        
    <% }); %>
<% } %>

<%- include("partials/footer.ejs") %>