<%- include("partials/header.ejs") %>

<%var index = 0;%>
<% if (locals.allPosts && locals.allPosts.length > 0) { %>
    <div class="justify-content-sm-center mt-4">
        <div class="mb-4 pt-10">
            <form action="/new-post" method="GET">
                <input type="submit" value="Make a new post" class="btn btn-primary btn-lg px-4 gap-3">
            </form>
        </div>
        
        <h2 class="pb-4 mb-4 fw-bold display-4 border-bottom">
            Recent Posts
        </h2>
        <% for (let i = (locals.allPosts.length-1); i >=0; i--) { %>
            <% if (locals.allPosts[i]) { %>
                <div class="mb-5">
                    <article class="blog-post">
                        <h3 class="text-start display-6 link-body-emphasis">
                            <%= (locals.allPosts[i])["title"]%> 
                        </h3>
                        <p class="text-start support-answer-textarea">
                            <%= (locals.allPosts[i])["content"] %>
                        </p>
                        <div>
                            <a href="/edit?postid=<%= i%>" class="btn btn-primary btn-sm rounded-pill px-3">Edit</a> 
                            <a href="/delete?postid=<%= i%>" class="btn btn-danger btn-sm rounded-pill px-3">Delete</a> 
                        </div>
                    </article>
                </div>
            <% } continue;%>
        <% }; %>
    </div>
<% } else {%>
        <div>
            <h1 class="display-5 fw-bold text-body-emphasis">It's time to blog</h1>
            
            <div class="col-lg-6 mx-auto">
            <p class="lead mb-4">Craft Your Story, Share Your Passion: Where Blogs Begin.</p>
            </div>

            <form action="/new-post" method="GET">
                <input type="submit" value="Make a new post" class="btn btn-primary btn-lg px-4 gap-3">
            </form>
            
        </div>
<% } %>

<%- include("partials/footer.ejs") %>